body {
    margin: 0;
    background-color: #0d0d0d;
}

.container {
  display : flex;
  justify-content: center ;
  text-align: center;
}

.home{
    float:left;
    margin-right: 100px;
    color: rgb(251, 250, 250);
    font-size: 60px;
}

.away {
    float: right;
    color: rgb(251, 250, 250);
    font-size: 60px;
}
.score {
    font-size: 40px;
    height: 120px;
    color: #89ff00;
    margin-top: -18px;
   
    display: flex;
    justify-content: center;
    align-items: center;

  /* From https://css.glass */
background: rgba(237, 252, 188, 0.2);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(5.5px);
border: 1px solid rgba(237, 252, 188, 0.26);

-webkit-box-shadow:0px 0px 50px 30px #ff0000 ;
-moz-box-shadow:0px 0px 50px 30px #ff0000 ;
box-shadow:0px 0px 50px 30px #ff0000 ;
}
.score-btns {
    width: 155px;
    padding: 12px;
    
}

.button {
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    outline: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFF00;
    background: #FFFF00;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.button:hover {
    background-color: #FFFF00;
    color: #000;
    box-shadow: 0 0 5px #FFFF00,
                0 0 20px rgb(255 255 0 / 0.8),
                0 0 35px rgb(255 255 0 / 0.7),
                0 0 50px rgb(255 255 0 / 0.6);
    border-color: #fff;
}
    

.newgame{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes wobble {
    0% {
    -webkit-transform: none;
    transform: none;
    }
    15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes wobble {
    0% {
    -webkit-transform: none;
    transform: none;
    }
    15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 



        .game {
            height: 50px;
            padding: 0 30px;
            font-size: 18px;
            border: 5px solid #fff;
            cursor: pointer;
            background: #4b00ff;
            color: #fff;
            border-radius: 50px;
            position: relative;
            overflow: hidden;
            transition: left 0.5s ease-in-out;
          }
          
          .game:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: -200px;
            top: 0;
            background: linear-gradient(45deg, #f90, transparent);
            transition: left 0.5s ease-in-out;
          }
          
          .game:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            right: -200px;
            top: 0;
            background: linear-gradient(45deg, transparent, #f90);
            transition: right 0.5s ease-in-out;
          }
          
          .game:hover:after {
            right: 0;
            animation: infinite-spinning 10s 0.5s infinite;
          }
          
          .game:hover:before {
            left: 0;
            animation: infinite-spinning 10s 0.5s infinite;
          }
          
          @keyframes infinite-spinning {
            from {
              transform: rotate(0deg);
            }
          
            to {
              transform: rotate(360deg);
            }
          }

